mixin footer
    footer.footer
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Помощь
                li.footer__item
                    a(href="#").footer__link Обратная связь
                li.footer__item                
                    a(href="#").footer__link Разработчикам
                li.footer__item
                    a(target="_blank" rel="nofollow noopener" href="https://gygabyyyte.github.io/shri-hw-1/license.pdf").footer__link Условия использования
            .footer__copyright &copy; 2001-2018 OOO "Яндекс" 